body{
    margin: 0;
    padding: 0;
    border: 10rem;
    border-radius: 15rem solid black;
    background-color: beige;
}

header{
    background: url(https://1.bp.blogspot.com/-gUn39u7j0Mg/U0bkri-L1dI/AAAAAAAAFSE/XWJaY7HN3Ss/s1600/2014-twitter-header-dimensions+.jpg) ;

    background-size: cover;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 50px;
    color:black
}
div.buscador{
    text-align: center;
    width: 100%;
    background-color: orange;
}
.menu{
    margin: 0;
    background-color: orange;
    list-style: none;
    display: flex;
}
li{
    flex: auto;
    text-align: center;

}
a{
    color: azure;
    text-decoration: none;
    
}
img.producto{
    width: 100%;
    height: auto;
    padding: 0.1rem;
    float: inline-end;
    margin-top: -10%;
    min-width: 100%;
    max-height: min-content;


    
}
    

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
    padding: 20px;
  }
  
  .caja {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    
  }

.c4{
    grid-column: 1/2;
}
.c7{
    grid-column: 1/2;
}
.c10{
    grid-column: 1/2;
}

footer{
    background-color: rgb(117, 138, 117);
    padding: 10px;
    
}
img.logo{
    width: 15px;
    height: 15px;
}
li{
   text-align: center;
   list-style-type: none;
   margin-top: 10px;
}
ul{
    display: flex;

    
}